.container {

}
.postImage {
	max-width: 400px;
	max-height: auto;
	padding: 3em;	
	margin: 3em;
}
.showPost {
	color: #414F57;
	border: 0.5px solid #414F57;
	vertical-align: center;
	padding: 1em;
	float: right;
	width: 50%;
}
.showImage {
	padding: 1em;
	float: left;
	width: 40%;
	margin: -50;

}

.image { 
	position: relative; 
	width: 100%;
}
.headerTitle { 
	position: absolute; 
	top: 25px; 
	left: -100px;
	font-size: 4em;
	font-style: bold;
}
.headerTagline {
	font-size: 2em;
	position: absolute; 
	top: 120px; 
	left: -100px;
	width: 100%; 
	font-size: 4em;
	font-style: bold;
}
h1 span { 
   color: white; 
   font: bold 24px/45px; 
   letter-spacing: -1px; 
   background-color: #333;
   opacity: 0.8; 
   /*background: rgb(0, 0, 0);  fallback color 
   background: rgba(0, 0, 0, 0.7);*/
   padding: 10px; 
}

h5 span { 
   color: white; 
   font: bold 24px/45px; 
   letter-spacing: -1px; 
   background-color: #456770;
   opacity: 0.8; 
   padding: 10px; 
}

body {

	font-family: 'Poiret One', cursive, Book Antiqua, "Helvetica Neue", sans-serif;
}
.OR {
	text-align: center;
}
h1, h5  {
	text-indent: 3em;
}
.header {

}

.navbar {
	width: 100%;
	display: inline;
	padding: 0;
	margin: 0 auto;
}
.nav li {
	text-align: left;	
}
.btn, .btn-default {
	background-color:  #456770;
	border-color: #CFDEE1;
	color: #DFE9EB;
}

#nav a {
	text-decoration: none;
	color: #414F57;
}

#nav a:hover {
     background-color: #DFE9EB
}

nav a.active, {
  background-color: #DFE9EB;
  /*color: blue;*/
}
.footer {
	text-align: center;
}
.introLine	 {
	padding: .5em;
	text-align: center;
	font-style: bold;
	color:  #414F57;
	font-size: 5em;	
}	
.secondLine {
	text-align: center;
	color:  #414F57;
}
.homeList {
	list-style-type: none;
	color: #0F5C89;
	padding: 2	em;	
}
.homeList1	 {
	text-align: left;
	padding: 2em;
}
.homeList2	 {
	text-align: center;
	padding: 2em;
}
.homeList3	 {
	text-align: right;
	padding: 2em;
}
.homeBonVoyage {
	color:  #0F5C89;
	padding: 1em;
	font-style: bold;
	text-align: center;
	font-size: 5em;
}
footer a {
	margin: 0;
	padding: 0;
	color: #377bb5;
	font-size: 1.5em;
}
.footerText {
	text-align: center;
}
footer a:hover {
      background-color: #005f5f;
      color: #fff;
    }
.showPage {
	padding: 2em;
	border: 0.5px solid darkgrey;
}
.postImage {

}