/*added CSS3 Flex Box to position projects*/

.flex-container {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-direction: row; /* Safari */
  flex-direction:         row;
   -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap:         wrap;
  -webkit-justify-content: center; /* Safari */
  justify-content:         center;
   -webkit-justify-content: space-around; /* Safari */
  justify-content:         space-around;
   -webkit-align-content: flex-start; /* Safari */
  align-content:         flex-start;
}
/*.flex-item {
  -webkit-flex-grow: <number>;  Safari 
  flex-grow:         <number>;
}*/
.grid {
	columnWidth: 200px;
	width: 30%;
	
}
.grid-item--width3 { 
	width: 100%; 
}

.title {
	margin: 300px;
	text-align: center;
} 	

body {
	font-family: avenir, Book Antiqua, "Helvetica Neue", Helvetica, Arial,sans-serif;
}
.portfolioBody {
	padding: 1.5em;
	margin-bottom: 3em;
}
.resumeBody {
	width: 100%;
	text-align: left;
	padding: 1.5em;
	color: black;
	font-size: 1em;
	margin: 2em;
}
.nameAddress {
	margin-bottom: 1em;
	padding-bottom: 4em;
}
.address {
	margin-left: 0.5em;
	line-height: 1em;
	font-size: 1.25em;
}
.logo {
	text-align: left;
}
.education {
	margin-bottom: 2em;	
}
.profSkills {
	padding: 0.2em;
	margin-bottom: 2em;
}
.skillsBullets {
	width: 85%;
	text-align: left;
}
.webDevProjects {
	
}
.sampleProjects {
	text-align: left;
}
ul {
	font-size: 1em;
}

#container a {
	color: #12129E;
}
.webDevProjects a {
	color: #12129E;
}
h1 {
	text-align: left;
	font-weight: bold;
	color: #12129E;
}
h2 {
	border-top: 0.07em solid #12129E;
	margin-top: 1em;
	padding: 0.5em;
	font-size: 1.5em;
}
h3 {
	margin-top: 2em;
}
h5 {
	text-align: center;
	background-color: #D5D7DF;
}
.p2Header {
	margin: 6em 2em 1em 1em;
	text-align: right;
}
footer a{
	/*color: #12129E;*/
	color: #C2C2C2;
	font-style: bold;
	margin-bottom: -100px;
}
.footerText{
	text-align: center;
	font-size: 1.25em;
}
.portfolioCover { 
	padding: 200px;
    color: #EBEBEB;
    font-size: 3em;
    background-color: #FFF;
    width: auto;
    vertical-align: top;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
}
/*.portfolioCover {
    color: #666;
    background-color: #aaa;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5); /* 50% black coming from the top */

/*.portfolioCover {
	font-family: Bitter;
	margin: 50px auto;
	text-align: center;
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
	color: #333;
}*/