body {
	background-color: #222;
}
#container {
	margin-top: 10px;
}
.gamePad {
	width: 640px;
	height: 640px;
	border-radius: 640px;
	background-color: #000;
	margin: auto;
	position: relative;
	display: inline-block;
	line-height: 0;
}

.square {
	width: 300px;
	height: 300px;
	float: left;
	opacity: 0.6;
	margin: 10px;
}

#red {
	background-color: red;
	border-top-left-radius: 300px;
}

#blue {
	background-color: blue;
	border-top-right-radius: 300px;
}

#yellow {
	background-color: yellow;
	border-bottom-left-radius: 300px;
}

#green {
	background-color: green;
	border-bottom-right-radius: 300px;
}
.active {
	opacity: 1.0;
}
#startButton {
	position: absolute;
	top: 50px;
	right: 50px;
	vertical-align: center;
	text-align: center;
	border-radius: 100px;
	height: 100px;
	width: 100px;
	background-color: #000;
	color: #fff;
	font-size: 18px;
	border: 2px solid #f00;
}
.circle {
    font-family: helvetica, verdana, sans-serif;
    position: relative;
    float: left;
    text-align: center;
    vertical-align: center;
    margin: 0;
    top: 225px;
    left: 420px;
    width: 200px;
    height: 200px;
    background: #000;
    border-radius: 200px;
    display: inline-block;
    z-index: 10;
  }
#level {
	position: relative;
	vertical-align: top;
	color: #fff;
	font-size: 20px;
  }

