.cat-list {
	color: white;
}
.header {
	background-image: url("img/logo.png");
	background-position: top-left;
	background-repeat: no-repeat;
}
.image {
	background-size: 20%;

}
/*.main-container {
	background-image: url("filterEffectsWineCellar.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: right top;
	margin: 3em;
	background-size: 60%;
}*/
body {
	background-image: url("/img/brickwall.png");
	background-size: 100%;
	color: #darkgrey;
}
.intro {
	font-size: 3em;
	font-style: bold;
	color: #4F2412;
	background-color: #F2E7D2;
	border: 0.25em solid #b29366;
}
.btn {
	background-color: #722f37;
	border-color: darkgrey;
	color: #fff;
}
.cat-title {
	color: #b29366;
}
.join {
	margin-bottom: 142px;	
}

