.cat-list {
	color: white;
}
.top {
	background-position: top-left;
	background-repeat: no-repeat;
}
.image {
	background-size: 20%;

}
.logoWineseller {
	padding: 0.2em;
}
.welcome {
	text-align: left;
}
.header {
	padding: 2em;
}
.footer {
	text-align: center;
	padding-top: 3em;
}
body {
	background-image: url("/img/brickwall.png");
	background-size: 20%;
	background-repeat: repeat;
	color: #darkgrey;
}
.intro {
	font-size: 3em;
	font-style: bold;
	color: #4F2412;
	background-color: #F2E7D2;
	border: 0.25em solid #b29366;
}
.btn {
	background-color: #722f37;
	border-color: darkgrey;
	color: #fff;
}
.cat-title {
	color: #b29366;
}
.join {
	margin-bottom: 142px;	
}
.clearfix {
	overflow: auto;
	zoom: 1;
}
.row {
	text-align: center;
	margin: 0;
}
